[submodule "src/main/modules/music"]
	path = src/main/modules/music
	url = https://github.com/SpencerSharp/spools-music
[submodule "src/main/modules/learn"]
	path = src/main/modules/learn
	url = https://github.com/SpencerSharp/spools-learn
[submodule "src/main/modules/vscode"]
	path = src/main/modules/vscode
	url = https://github.com/SpencerSharp/spools-vscode.git
[submodule "ezsample"]
	path = src/main/modules/ezsample
	url = https://github.com/SpencerSharp/spools-ezsample.git
[submodule "ableton"]
	path = src/main/modules/ableton
	url = https://github.com/SpencerSharp/spools-ableton.git
[submodule "src/main/spools/latex"]
	path = src/main/spools/latex
	url = https://github.com/SpencerSharp/spools-latex
